{
  "root": true,
  "extends": "./packages/eslint-config-base",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "import/prefer-default-export": "off"
  }
}
